<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Main framework configuration
*
* @category    BlueFramework
* @package     BlueFramework Core
* @author      Michał Adamiak    <chajr@bluetree.pl>
* @copyright   chajr/bluetree
* @version     1.1.0
*/
-->
<!DOCTYPE root SYSTEM "dtd/config.dtd">
<root>
    <option id="domain" value="#(www.)?adamiak\.cz#"/>
    <option id="debug" value="1"/>
    <option id="core_mail" value="chajr@bluetree.pl"/>
    <option id="error404" value="1"/>
    <option id="meta" value="1"/>
    <option id="techbreak" value="0"/>
    <option id="subdomain" value="1"/>

    <option id="reg_exp_rewrite" value="#^[\w-\\,\/]*$#"/>
    <option id="reg_exp_classic" value="#^[\w\.\/?=&amp;-]*$#"/>
    <option id="global_var_check" value="#^[a-zA-Z][\w]*$#"/>
    <option id="max_get" value="11"/>
    <option id="max_post" value="60"/>
    <option id="get_len" value="25"/>
    <option id="test" value=""/>
    <option id="post_secure" value="1"/>
    <option id="file_max_size" value="1000"/>
    <option id="files_max_size" value="10000"/>
    <option id="files_max" value="10"/>
    <option id="cookielifetime" value="3600"/>

    <option id="mod_check" value="1"/>
    <option id="param_sep" value="::"/>
    <option id="rewrite" value="1"/>
    <option id="var_rewrite_sep" value=","/>

    <option id="unthrow" value="0"/>
    <option id="log_all_errors" value="1"/>
    <option id="core_procedural_mod_check" value="0"/>
    <option id="errors_log" value="110"/>

    <option id="one_lang" value="0"/>
    <option id="lang" value="pl-PL"/>
    <option id="lang_support" value="1"/>
    <option id="detect_lang" value="1"/>

    <option id="compress" value="0"/>
    <option id="timezone" value="Europe/Berlin"/>

    <langs id="lang_on" value="1">
        <lang id="pl-PL" on="1"/>
        <lang id="en-GB" on="1"/>
        <lang id="en-US" on="1"/>
    </langs>
</root>
