<div class="width-960 affix">
    <section id="example_generate">
        <h2>{;lang;title;}</h2>
        <div class="panel panel-default">
            <div class="panel-heading" id="page_not_found">
                {;lang;block_content;}
            </div>
            <div class="panel-body">
                {;block;example_block;}
            </div>
            <div class="panel-footer">
                <div class="panel-group">
                    <div class="panel panel-primary source_code">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse0">
                                    {;lang;core;show_source;}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse0" class="panel-collapse collapse out">
                            <div class="panel-body">
                                <code>
                                    <pre class="brush: xml">&lt;sub id="example_blocks" name="{&#59;lang&#59;core&#59;example_blocks&#59;}" layout="examples/example" options="11111"&gt;
    &lt;mod on="1" block="examples"&gt;example_blocks&lt;/mod&gt;
    &lt;mod on="1" block="example_block"&gt;example_blocks_1&lt;/mod&gt;
    &lt;mod on="1" block="example_block"&gt;example_blocks_2&lt;/mod&gt;
    &lt;mod on="1" block="example_block"&gt;example_blocks_3&lt;/mod&gt;
&lt;/sub></pre>
                                </code>
                            </div>
                            <div class="panel-body">
                                <code>
                                    <pre class="brush: xml">&lt;div class="panel-body"&gt;
    {&#59;block&#59;example_block&#59;}
&lt;/div></pre>
                                </code>
                            </div>
                            <div class="panel-body">
                                <code>
                                    <pre class="brush: xml">&lt;div class="alert alert-success"&gt;
    &lt;div class="alert-body"&gt;
        {&#59;module_name&#59;}
    &lt;/div&gt;
&lt;/div></pre>
                                </code>
                            </div>
                            <div class="panel-body">
                                <code>
                                    <pre class="brush: php">public function run()
{
    $this->_prepareLayout();

    $this->generate('module_name', get_class($this));
}

protected function _prepareLayout()
{
    $this->layout('index');
}</pre>
                                </code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>