<pre>
title version (issue #issue)

This version introduces multiple enhancements:

description

Details of additions/deletions below:
--------------------------------------------------------------

Added:      file path
            -- Added --
                content
            -- Modified --
                content
            -- Removed --
                content

Added:      file path
            -- Added --
                content
            -- Modified --
                content
            -- Removed --
                content

Added:      file path
            -- Added --
                content
            -- Modified --
                content
            -- Removed --
                content

Modified:   path
            -- Modified --
                changed version from v1 to v2
</pre>