<pre>
{;title;} {;op;version;}[{;version;}]{;op_end;version;} {;op;issue;}(issue #{;issue;}){;op_end;issue;}
{;op;alpha;}THIS IS PRE-ALPHA SOFTWARE, use it at your own risk.{;alpha;}{;op_end;alpha;}
This version introduces multiple enhancements:

{;description;}

Details of additions/deletions below:
--------------------------------------------------------------

Added:      file path
            -- Added --
                content

Modified:   file path
            -- Added --
                content
            -- Modified --
                content
            -- Removed --
                content

Removed:    file path
            -- Removed --
                content

Modified:   path
            -- Modified --
                changed version from v1 to v2
</pre>