AddOutputFilterByType DEFLATE application/x-httpd-php
RewriteEngine On
#RewriteBase /
#AllowOverride All
#dla netart
#RewriteRule ^/?([,\w/-]*)?$ /index.php
#dla localhost
RewriteRule ^/?([,\w/-]*)?$ index.php