AddOutputFilterByType DEFLATE application/x-httpd-php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    #AllowOverride All
    RewriteRule ^/?([,\w/-]*)?$ index.php
</IfModule>