<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {;core;meta;}
{;core;css;}
        <meta charset="utf-8">
    </head>
    <body>
        <div>
            <h3>{;lang;page;} 2</h3><br/>
            {;external;ext;}<br/><br/>
            <a href="{;core;domain;}{;core;lang;}{;path;/strona2/podstrona1/param,val/p2,v/;}">{;lang;internal_link;}</a><br/>
            <a href="http://www.bluetree.pl">link</a>
            <a href="mailto:bgcvb@asd.cv">link</a><br/>
            <img src="{;core;domain;}elementy/Right.png" alt="image"/>
            <br/><br/>
            {;path;/strona/podstrona/param,val/p2,v/;} - {;lang;path;}<br/>
            {;full;/strona/podstrona/param,val/p2,v/;} - {;lang;full;}<br/>
            {;rel;/podstrona/;} - {;lang;sub_page;}<br/>
            {;core;domain;} - {;lang;domain;}<br/>
            {;core;lang;} - {;lang;lang;}<br/>
            {;core;mainpath;} - {;lang;main_path;}
        </div>
        {;mod;modul1;}
        <div>
            {;block;blok_testowy;}
        </div>
{;core;js;}
    </body>
</html>