<h3>{;lang;title;}</h3>

<fieldset>
    <legend>
        {;lang;simple_marker;}
    </legend>
    {;marker;}
</fieldset>

<fieldset>
    <legend>
        {;lang;optional_content;}
    </legend>
    {;lang;optional;} {;op;oo;} 1: {;marker_a;}{;op_end;oo;}<br/>
    {;lang;optional;} {;op;ooa;} 2: {;marker;}{;op_end;ooa;}

<fieldset>
    <legend>
        {;lang;markers_array;}
    </legend>
    {;marker-a;} - {;marker-b;} {;some_marker;}
</fieldset>

<fieldset style="border-color: #ff0000">
    <legend>
        {;lang;error_marker;}
    </legend>
    {;error_marker;}<br/>
    {;error_marker1;}
    {;error_marker2;}
</fieldset>

<fieldset style="border-color: #ff0000">
    <legend>
        {;lang;errors_array;}
    </legend>
    {;errors_list;}
</fieldset>

<fieldset>
    <legend>
        {;lang;simple_loop;}
    </legend>
    {;start;loop1;}
    <b>{;loop1;item1;}</b>
    {;loop1;item2;}<br/>
    {;end;loop1;}
</fieldset>

<fieldset>
    <legend>
        {;lang;optional_loop;}
    </legend>
    {;start;loop2;}
    <b>{;loop2;aaa;}</b>
    {;loop2;bbb;} - {;op;oo;}{;lang;optional;} {;loop2;oo;}{;op_end;oo;}{;op;oo2;}{;lang;optional;} 2 {;loop2;oo2;}{;op_end;oo2;}
    <br/>
    {;end;loop2;}
</fieldset>

<fieldset>
    <legend>
        {;lang;session;}
    </legend>
    <div>{;lang;public;}: <strong>{;public;}</strong> - {;lang;new_public;}: <strong>{;public2;}</strong></div>
    <div>{;lang;user;}: <strong>{;user;}</strong> - {;lang;new_user;}: <strong>{;user2;}</strong></div>
</fieldset>

<fieldset>
    <legend>
        {;lang;session_template;}
    </legend>
    <fieldset class="warning">
        {;lang;session_test_content;}
    </fieldset>
    <div>{;session_display;session_display_test;}</div>
</fieldset>

<fieldset>
    <legend>
        {;lang;breadcrumbs;}
    </legend>
    <div>{;breadcrumbs;}</div>
</fieldset>

<fieldset>
    <legend>
        {;lang;site_map;}
    </legend>
    {;site_map;}
</fieldset>

<fieldset>
    <legend>
        {;lang;module_path;}
    </legend>
    <div>{;some_path;}</div>
</fieldset>

<fieldset>
    <legend>
        {;lang;lib_info;}
    </legend>
    <div>{;lib;}</div>
</fieldset>

<fieldset>
    <legend>
        {;lang;cookie;}
    </legend>
    <div>{;lang;cookie;}-1: {;cookie;}</div>
    <div>{;lang;cookie;}-2: {;cookie2;}</div>
</fieldset>

<fieldset>
    <legend>
        {;lang;get_data;}
    </legend>
    <div>{;lang;val;}-1: <strong>{;val1;}</strong></div>
    <div>{;lang;val;}-2: <strong>{;val2;}</strong></div>
    <div>{;lang;val;}-3: <strong>{;val3;}</strong></div>
</fieldset>

<fieldset>
    <legend>
        {;lang;get_object;}
    </legend>
    <div>{;lang;path;}:              <strong>{;path;}</strong></div>
    <div>{;lang;rewrite_get;}:       <strong>{;rget;}</strong></div>
    <div>{;lang;lang_code;}:         <strong>{;lang;}</strong></div>
    <div>{;lang;current_page;}:      <strong>{;current_page;}</strong></div>
    <div>{;lang;parent_page;}:       <strong>{;parent;}</strong></div>
    <div>{;lang;master_page;}:       <strong>{;master;}</strong></div>
    <div>{;lang;full_get;}:          <strong>{;full;}</strong></div>
    <div>{;lang;full_get;} (TRUE):   <strong>{;full2;}</strong></div>
    <div>{;lang;type;}:              <strong>{;type;}</strong></div>
    <div>{;lang;with_domain;}        <strong>{;path_domain;}</strong></div>
    <div>{;lang;complete_path;}      <strong>{;path;}</strong></div>
</fieldset>

<fieldset>
    <legend>
        {;lang;mod_params;}
    </legend>
    <div>{;param;}</div>
</fieldset>

<fieldset>
    <legend>
        {;lang;translations;}
    </legend>
    <div>{;lang;mod_translation;}:       <strong>{;lang;string_to_translate;}</strong></div>
    <div>{;lang;core_translation;}:      <strong>{;lang;core;testowe_tulmaczenie_core;}</strong></div>
    <div>{;lang;mod_translation_code;} en-GB:    <strong>{;lang-en-GB;string_to_translate;}</strong></div>
    <div>{;lang;core_translation_code;} en-GB:   <strong>{;lang-en-GB;core;tekst_do_tulmaczenia;}</strong></div>
    <div>{;lang;mod_translation_code;} pl-PL:    <strong>{;lang-pl-PL;string_to_translate;}</strong></div>
    <div>{;lang;core_translation_code;} pl-PL:   <strong>{;lang-pl-PL;core;tekst_do_tulmaczenia;}</strong></div>
</fieldset>

<fieldset>
    <legend>
        {;lang;mod_conf;}
    </legend>
    <div>{;module_config;}</div>
</fieldset>