{;external;examples/header;}
<div class="width-960">
    {;op;core_content_example;}
    <div class="width-760">
        <h2>{;lang;generate_content_core_template;}</h2>
        <div class="panel panel-default">
            <div class="panel-heading"  id="simple_generate_core">
                {;lang;core;simple_generate_core;}
            </div>
            <div class="panel-body">
                {;content_from_module;}
            </div>
            <div class="panel-footer">
                <div class="panel-group">
                    <div class="panel panel-primary source_code">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse0a">
                                    {;lang;show_source;}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse0a" class="panel-collapse collapse out">
                            <div class="panel-body">
                                <code>
                                    <pre class="brush: xml">{&#59;content_from_module&#59;}</pre>
                                </code>
                            </div>
                            <div class="panel-body">
                                <code>
                                    <pre class="brush: php">$this->generate('content_from_module', '{&#59;lang;content_to_replace&#59;}', TRUE);</pre>
                                </code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {;op_end;core_content_example;}
    {;block;examples;}
    <div class="clear"></div>
</div>
<a href="#" class="back-to-top">{;lang;back_to_top;}</a>
{;external;examples/footer;}