{;external;examples/header;}
<div class="width-960">
    <div id="examples">
        <div id="example_description">
            <h2>
                {;lang;installation;}
            </h2>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                1. {;lang;installation_step_1;}
                <a href="https://github.com/chajr/bluetree20">
                    https://github.com/chajr/bluetree20
                </a>
            </li>
            <li class="list-group-item">2. {;lang;installation_step_2;}</li>
            <li class="list-group-item">
                3. {;lang;installation_step_3;}
            </li>
            <li class="list-group-item">
                4. {;lang;installation_step_4;}
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<a href="#" class="back-to-top">{;lang;back_to_top;}</a>
{;external;examples/footer;}