{;external;examples/header;}
<div class="width-960">
    <div id="examples">
        <div id="example_description">
            <h2>
                {;lang;requirements_title;}
            </h2>
        </div>
        <h4>{;lang;base_requirements;}</h4>
        <ul class="list-group">
            <li class="list-group-item">{;lang;system_requirements;}</li>
            <li class="list-group-item">Minimum PHP 5.4.0</li>
            <li class="list-group-item">DOM {;lang;extension_enabled;}</li>
            <li class="list-group-item">mbstring {;lang;extension_enabled;}</li>
        </ul>
        <h4>{;lang;optional_requirements;}</h4>
        <ul class="list-group">
            <li class="list-group-item">{;lang;apache_enabled;}</li>
            <li class="list-group-item">{;lang;htaccess_enabled;}</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<a href="#" class="back-to-top">{;lang;back_to_top;}</a>
{;external;examples/footer;}