{;external;examples/header;}
<div class="width-960 main-content">
    <div class="width-200" data-spy="affix" data-offset-bottom="100">
        <div class="list-group left_menu">
            <a href="#simple_generate" class="list-group-item">
                {;lang;simple_generate;}
            </a>
            <a href="#optionally_marker_replaced" class="list-group-item">
                {;lang;optionally_marker_replaced;}
            </a>
            <a href="#optionally_marker_none" class="list-group-item">
                {;lang;optionally_marker_none;}
            </a>
            <a href="#loop_content" class="list-group-item">
                {;lang;loop_content;}
            </a>
            <a href="#loop_content_empty" class="list-group-item">
                {;lang;loop_content_empty;}
            </a>
            <a href="#loop_content_nested" class="list-group-item">
                {;lang;loop_content_nested;}
            </a>
            <a href="#loop_content_optional" class="list-group-item">
                {;lang;loop_content_optional;}
            </a>
            <a href="#session_content" class="list-group-item">
                {;lang;session_content;}
            </a>
            <a href="#loop_content_missing_element" class="list-group-item">
                {;lang;loop_content_missing_element;}
            </a>
            <a href="#content_array" class="list-group-item">
                {;lang;content_array;}
            </a>
        </div>
    </div>

    <div class="width-760">
        {;block;examples;}
    </div>
    <div class="clear"></div>
</div>
{;external;examples/footer;}