{;external;examples/header;}
<div class="width-960 main-content">
    <div id="examples">
        <div id="example_description">
            <h2>
                {;lang;example_title;}
            </h2>
            <p>
                {;lang;example_description;}
            </p>
        </div>

        <nav>
            <ul>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_generate;}">
                        {;lang;example_generate;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_translate;}">
                        {;lang;example_translate;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_sys_marks;}">
                        {;lang;example_sys_marks;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_messages;}">
                        {;lang;example_messages;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_incoming_data;}">
                        {;lang;example_incoming_data;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_libraries;}">
                        {;lang;example_libraries;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_modules;}">
                        {;lang;example_modules;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_navigation;}">
                        {;lang;example_navigation;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_ajax;}">
                        {;lang;example_ajax;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_inheritance;}">
                        {;lang;example_inheritance;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_exceptions;}">
                        {;lang;example_exceptions;}
                    </a>
                </li>
                <li>
                    <a href="{;core;domain;}{;core;lang;}{;path;/examples/test;}">
                        {;lang;test;}
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{;external;examples/footer;}