{;external;examples/header;}
<div class="width-960">
    <div id="examples">
        <div id="example_description">
            <h2>
                {;lang;example_title;}
            </h2>
            <p>
                {;lang;example_description;}
            </p>
        </div>

        <nav>
            <div class="list-group">
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_layouts;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_layouts;}
                    </h4>
                    <p class="list-group-item-text">
                        {;lang;example_layouts_usage;}
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_core_templates;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_core_templates;}
                    </h4>
                    <p class="list-group-item-text">
                        {;lang;example_core_description;}
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_generate;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_generate;}
                    </h4>
                    <p class="list-group-item-text">
                        {;lang;example_generate_usage;}
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_blocks;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;load_to_block;}
                    </h4>
                    <p class="list-group-item-text">
                        {;lang;load_to_block_usage;}
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_messages;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_messages;}
                    </h4>
                    <p class="list-group-item-text">
                        {;lang;example_messages_usage;}
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_translate;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_translate;}
                    </h4>
                    <p class="list-group-item-text">
                        {;lang;example_translate_usage;}
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_sys_marks;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_sys_marks;}
                    </h4>
                    <p class="list-group-item-text">
                        {;lang;example_sys_marks_usage;}
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_incoming_data/variable,value;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_incoming_data;}
                    </h4>
                    <p class="list-group-item-text">
                        {;lang;example_incoming_data_usage;}
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_libraries;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_libraries;}
                    </h4>
                    <p class="list-group-item-text">
                        
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_modules;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_modules;}
                    </h4>
                    <p class="list-group-item-text">
                        
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_navigation;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_navigation;}
                    </h4>
                    <p class="list-group-item-text">
                        
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_ajax;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_ajax;}
                    </h4>
                    <p class="list-group-item-text">
                        
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_inheritance;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_inheritance;}
                    </h4>
                    <p class="list-group-item-text">
                        
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/example_exceptions;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;example_exceptions;}
                    </h4>
                    <p class="list-group-item-text">
                        
                    </p>
                </a>
                <a href="{;core;domain;}{;core;lang;}{;path;/examples/test;}"
                   class="list-group-item"
                >
                    <h4 class="list-group-item-heading">
                        {;lang;test;}
                    </h4>
                    <p class="list-group-item-text">
                        
                    </p>
                </a>
            </div>
        </nav>
    </div>
</div>
{;external;examples/footer;}