<div class="width-200" data-spy="affix" data-offset-bottom="100">
    <div class="list-group left_menu">
        <a href="#example_one" class="list-group-item">
            {;lang;loading_template;}
        </a>
    </div>
</div>

<div class="width-760">
    <section id="example_layout">
        <h2>{;lang;title;}</h2>
        <div class="panel panel-default">
            <div class="panel-heading"  id="example_one">
                {;lang;loading_template;}
            </div>
            <div class="panel-body">
                
            </div>
            <div class="panel-footer">
                <div class="panel-group">
                    <div class="panel panel-primary source_code">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse0">
                                    {;lang;core;show_source;}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse0" class="panel-collapse collapse out">
                            <div class="panel-body">
                                <code>
                                    <pre class="brush: xml"></pre>
                                </code>
                            </div>
                            <div class="panel-body">
                                <code>
                                    <pre class="brush: php"></pre>
                                </code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>