<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE root SYSTEM "dtd/form.dtd">-->
<form method="post" name="form1" enctype="multipart/form-data" style="" class="form" id="form" action="" accept-charset="utf-8" autocomplete="on" novalidate="" target="_self">
	<p id="other_errors">
		<input4_error id="" class="" convert="div">błąd</input4_error>
		<input5_error id="" class="" convert="span">a</input5_error>
		<input6_error id="" class="" convert="span">b</input6_error>
	</p>
	<input type="hidden" value="form_1" name="incoming_form"></input>
	<main_error_info>{;komunikat;}</main_error_info>
	<p class="" id="">
		<label>
			tekst
		</label>
		<input type="text" autocomplete="" autofocus="autofocus" disabled="" form="" formnovalidate="" height="20" width="50" list="" maxlength="20"
			name="input1" pattern="#[a-z]*#" placeholder="Wpisz jakiś tekst" readonly="" required="required" size="20" step="" value="" minlength = "2"
			id="input1" style="" class="" onclick="" valid_type="string" other_val="" valid_dependency="" check_field="input2::1"/>
		<input1_error id="" class="" convert="span">
			<img src="{;core;domain;}elementy/karteczka_mala.png" alt="karteczka"/>
			błąd pola
		</input1_error>
	</p>
	<p class="" id="">
		<label>
			tekst 2
		</label>
		<input type="text" autocomplete="off" autofocus="" disabled="" form="" formnovalidate="off" height="20" width="50" list="" max="" maxlength="20" min="" 
			name="input2" pattern="" placeholder="Wpisz jakiś tekst" readonly="" required="required" size="20" step="" value="dddddddddd"
			id="" style="" class="input2" valid_type="letters" other_val="" valid_dependency="" check_field=""/>
		<input2_error id="" class="" convert="span"></input2_error>
	</p>
	<div class="pozostale">
		<p class="" id="">
			<label>
				tekst 3
			</label>
			<input type="text" autocomplete="off" autofocus="" disabled="disabled" form="" formnovalidate="off" height="20" width="50" list="" max="" maxlength="20" min="" 
				name="input3" pattern="" placeholder="Wpisz jakiś tekst" readonly="" required="" size="20" step="" value="disabled"
				id="" style="color:#ff0000" class="" valid_type="" other_val="" valid_dependency="" check_field=""/>
			<input3_error id="" class="" convert="span"></input3_error>
		</p>
		<p class="" id="">
			<label>
				tekst 4
			</label>
			<input type="text" autocomplete="" autofocus="autofocus" disabled="" form="" formnovalidate="" height="20" width="50" list="lista" max="" maxlength="20" min="" 
				name="input4" pattern="#[A-z]+#" placeholder="Wpisz jakiś tekst" readonly="" required="required" size="20" step="" value=""
				id="" style="" class="" valid_type="" other_val="SELECT..." valid_dependency="input1" check_field=""/>
		</p>
	</div>
	<p class="" id="">
		<label>
			number
		</label>
		<input type="number" autocomplete="" autofocus="" disabled="" form="" formnovalidate="" height="20" width="50" list="" max="50" maxlength="20" min="-50" 
			name="input5" pattern="" placeholder="Wpisz wartość" readonly="" required="required" size="20" step="" value=""
			id="input5" style="" class="" valid_type="integer" other_val="" valid_dependency="" check_field=""/>
	</p>
	<p class="" id="">
		<label>
			number 2
		</label>
		<input type="number" autocomplete="" autofocus="" disabled="" form="" formnovalidate="" height="20" width="50" list="" max="50" maxlength="20" min="-50" 
			name="input6" pattern="" placeholder="Wpisz wartość" readonly="" required="required" size="20" step="10" value=""
			id="" style="" class="" valid_type="integer" other_val="" valid_dependency="" check_field=""/>
	</p>
	<div class="pozostale">
		<label>
			inny input
		</label>
	</div>
	<datalist id="lista">
		<option label="W3Schools" value="http://www.w3schools.com" />
		<option label="Google" value="http://www.google.com" />
		<option label="Microsoft" value="http://www.microsoft.com" />
	</datalist>
	<fieldset>
		<input type="submit" value="Zapisz"></input>
	</fieldset>
</form>
<!--


dwa dodatkowe typy multiinput (dodawanie dynamiczne inputow)



 valid_dependency - okresli zaleznosc inputa od innych (lista inputow)(sprawdzanie typow i ich wartosci(np on, jakas wartosc))
 typ
 dane z innej tabeli (w formie SQL)
 typ walidacji
 wlasne wyrazenie regularne
 maksymalne wartosci
 wymagane
 id
 class
 style
 js
 active
 nazwa
 domyslnie
 cols, rows tylko dla textarea
 tylko odczyt
 
 pozostale:
 accept, alt, autocomplete, autofocus, form, formation, formenctype, formmethod, formnovalidate, formtarget, height, list, multiple, pattern, placeholder
 size, src, step, width
 
 
 petla generujaca grupe checkbox, radio i text
 
 
 
 dodac dodatkowe typy inputow dla innych konkretnych przy walidacji wartosci
 
 type:
 button
checkbox
color
date 
datetime 
datetime-local 
email 
file
hidden
image
month 
number v
password
radio
range 
reset
search
submit
tel
text v
time 
url
week
price
-->