<h3>{;lang;title;}</h3>
<div>
    <legend>
        {;lang;mod_content;}
    </legend>
    {;marker;}
</div>
<div>
    <legend>
        {;lang;image_test;}
    </legend>
    <img src="{;core;domain;}elementy/images/bluetree_base_big.jpg" alt="{;lang;image;}"/>
    <img src="{;core;domain;}elementy/images/bluetree_base_big_copy.jpg" alt="{;lang;rotate;}"/>
</div>
<div class="baza">
    <legend>
        {;lang;database;}
    </legend>
    {;lang;connection;}: {;connection;}<br/>
    {;lang;row;}: {;select;}<br/>
    {;lang;last_id;}: {;insert;}
</div>
<div>
    <legend>
        {;lang;time;}
    </legend>
    {;marker1;}
    <br/>
    {;marker2;}
    <br/>
    {;marker3;}
    <br/>
    {;marker4;}
    <br/>
    {;marker5;}
    <br/>
    {;marker6;}
    <br/>
    {;marker7;}
    <br/>
    {;marker8;}
    <br/>
    {;marker9;}
</div>
<div class="baza well">
    <legend>
        {;lang;form;}
    </legend>
    {;form;}
    <div style="width: 400px;overflow: hidden">
        <h4>
            {;lang;post_data;}
        </h4>
        {;post_serialize;}
    </div>
</div>