<h3>to jest layout z modulu nr 2</h3>
<fieldset>
	<legend>
		tresc z modulu 1
	</legend>
	{;znacznik;}
</fieldset>
<fieldset class="baza">
	<legend>
		baza danych
	</legend>
	Połączenie: {;connection;}<br/>
	Ilośc wierszy: {;select;}<br/>
	Dodane id: {;insert;}
</fieldset>
<fieldset>
	<legend>
		test czasu
	</legend>
	{;znacznik1;}
	<br/>
	{;znacznik2;}
	<br/>
	{;znacznik3;}
	<br/>
	{;znacznik4;}
	<br/>
	{;znacznik5;}
	<br/>
	{;znacznik6;}
	<br/>
	{;znacznik7;}
	<br/>
	{;znacznik8;}
	<br/>
	{;znacznik9;}
</fieldset>
<fieldset class="baza">
	<legend>
		testowy formularz
	</legend>
	{;form;}
	<div style="width: 400px;overflow: hidden">
		<h4>
			Zserializowane dane z post
		</h4>
		{;post_serialize;}
	</div>
</fieldset>