<!doctype html>
<html>
    <head>
        {;core;meta;}
        {;core;css;}
        <meta charset="utf-8">
    </head>
    <body>
        {;op;core_errors;}
        <div class="info error">
            <legend>
                {;lang;error;} {;lang;error_title;}
            </legend>
            {;core_error;}
        </div>
        {;op_end;core_errors;}
        {;op;core_warnings;}
        <div class="info warning">
            <i class="icon-warning-sign"></i>
            {;lang;warning;}<br/>
            {;core_warning;}
        </div>
        {;op_end;core_warnings;}

        {;mod;commit;}
        {;core;js;}
    </body>
</html>