<!doctype html>
<html>
    <head>
        {;core;meta;}
        {;core;css;}
        <meta charset="utf-8">
    </head>
    <body>
        {;op;core_errors;}
        <div class="alert alert-danger alert-dismissable info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            <div class="alert-heading">
                {;lang;error;}
            </div>
            <div class="alert-body">
                {;core_error;}
            </div>
        </div>
        {;op_end;core_errors;}
        {;op;core_warnings;}
        <div class="alert alert-warning alert-dismissable info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            <div class="alert-heading">
                {;lang;warning;}
            </div>
            <div class="alert-body">
                <i class="icon-warning-sign"></i> {;core_warning;}
            </div>
        </div>
        {;op_end;core_warnings;}

        {;mod;commit;}
        {;core;js;}
    </body>
</html>