            {;start;errors;}
            <div class="error_block">
                <b>{;errors;error_code;}</b>
                {;op;extend_message;}<br/>
                {;lang;error_other;}: {;errors;extend_message;}{;op_end;extend_message;}<br/>
                {;op;line;}
                <br/><br/>
                {;lang;line;}: {;errors;line;}<br/>
                {;op_end;line;}
                {;op;file;}
                {;lang;file;}: {;errors;file;}<br/>
                {;op_end;file;}
                {;op;module;}
                {;lang;modul;}: {;errors;module;}
                {;op_end;module;}
            </div>
            {;end;errors;}
