<!doctype html>
<html>
    <head>
{;core;meta;}
{;core;css;}
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <div>
                <legend>
                    {;lang;external_legend;}
                </legend>
                {;external;ext;}
            </div>
        </header>
        <section id="main">
            <div>
                <legend>
                    {;lang;replace_paths;}
                </legend>
                <a href="{;core;domain;}{;core;lang;}{;path;/strona2;}">
                    {;lang;internal_link;}
                </a>
                <br/>
                <a href="http://www.bluetree.pl">link</a>
                <a href="mailto:sdfsdf@asd.cv">link</a><br/>
                <img src="{;core;domain;}elementy/images/bluetree_base_big.jpg" alt="{;lang;image;}"/>
            </div>
            <div>
                <legend>
                    {;lang;system_markers;}
                </legend>
                {;path;/strona/podstrona/param,val/p2,v/;} - {;lang;path;} ({ ;path;/strona/podstrona/param,val/p2,v/; })<br/>
                {;full;/strona/podstrona/param,val/p2,v/;} - {;lang;full;} ({ ;full;/strona/podstrona/param,val/p2,v/; })<br/>
                {;core;domain;} - {;lang;domain;} ({ ;core;domain; })<br/>
                {;core;lang;} - {;lang;lang;} ({ ;core;lang; })<br/>
                {;core;mainpath;} - {;lang;main_path;} ({ ;core;mainpath; })
            </div>
            <div>
                <legend>
                    {;lang;translations;}
                </legend>
                {;lang;framework_translations;}:        <strong>{;lang;tulmaczenie_przykladowe;}</strong><br/>
                {;lang;module_translations;}:           <strong>{;lang;modul1;string_to_translate;}</strong><br/>
                {;lang;module_code_translations;}:      <strong>{;lang-en-GB;modul1;string_to_translate;}</strong><br/>
                {;lang;framework_code_translations;}:   <strong>{;lang-en-GB;tekst_do_tulmaczenia;}</strong>
            </div>
        </section>
        <section id="content">
            {;mod;modul1;}
        </section>
        <aside>
            <section>
                <h3>
                    {;lang;blocks;}
                </h3>
                <div>
                    <legend>{;lang;test_block;}</legend>
                    {;block;blok_testowy;}
                </div>
            </section>
            <section>
                {;op;core_errors;}
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        {;lang;error;} {;lang;error_title;}
                    </div>
                    <div class="panel-body">
                        {;core_error;}
                    </div>
                </div>
                {;op_end;core_errors;}
                {;op;core_warnings;}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        {;lang;warning;} {;lang;warning_title;}
                    </div>
                    <div class="panel-body">
                        {;core_warning;}
                    </div>
                </div>
                {;op_end;core_warnings;}
                {;op;core_infos;}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {;lang;info;} {;lang;info_title;}
                    </div>
                    <div class="panel-body">
                        {;core_info;}
                    </div>
                </div>
                {;op_end;core_infos;}
                {;op;core_oks;}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        OK {;lang;ok_title;}
                    </div>
                    <div class="panel-body">
                        {;core_ok;}
                    </div>
                </div>
                {;op_end;core_oks;}
            </section>
        </aside>
        <div style="clear: both"></div>
{;core;js;}
    </body>
</html>